.aplicacion-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.tareas-lista-principal{
  width: 600px;
  min-height: 500px;
  background-color: rgb(221, 221, 221);
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}

h1{
  color: #170C18;
  font-size: 25px;
  text-align: center;
  margin: 20px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}